body {
    margin: 0px;
  }
  h1 {
    font-size: 55px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
    padding-bottom: 30px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  #mode {
    position: absolute;
    left: -7px;
    top: 86px;
    border-style: none;
  }
  #grid {
    display: grid;
    grid-template-columns: 155px 1fr;
  }
  #grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 3px;
  }
  #grid #본문 {
    padding-left: 13px;
  }
  @media(max-width: 800px) {
    #grid{
      display: block;
    }
    #grid ol {
      border-right: none;
    }
    h1 {
      border-bottom: none;
    }
  }